@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Press+Start+2P&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

a:hover {
  transform: scale(1.1);
}
a {
  transition: all 0.5s;
}
